.Paciente {
  text-align: center;
  background-color: #e9e9e9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e9e9e9;
  top: 0;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.FiladePacientes {
  text-align: left;
}



.head {
  text-align: left;
  background-color: #e9e9e9;
  color: black;
  border: solid;
}

.App-link {
  color: #61dafb;
}


